.moving-btn {
	background-position: center center;
	background-repeat: no-repeat;
	border: 1px solid #C0C0C0;
	border-radius: 10px;
	cursor: pointer;
	float: left;
	font-size: 10px;
	height: 50px;
	margin: 2px;
	position: relative;
	text-align: center;
	vertical-align: top;
	width: 50px;
}

.moving-btn:hover{
	background: yellow;
}

.moving-btn:active{
	background: #Fc0;
}
