
#ContentPanel
{
	height: 80%;
}

body[state='connected'] #StatusBar
{
	background-color: #CCFFAA;
}

body[state='disconnected'] #StatusBar
{
	background-color: #FFD0FF;
}

body[state='error'] #StatusBar
{
	background-color: #FFD0D0;
}


#EditorHelper
{
	box-sizing: border-box;
	padding: 4px 10px;
	width: 200px;
	height: 100%;
}

 #CoordDisplay{
	font-size: 26px;
	color: #555;
 }

#StatusBar
{
	font-size: 26px;
	color: #aaa;
	padding: 4px 10px;
}
#StatusBar .sbar-elem
{
	display: inline-block;
	padding: 0px 10px;
}
#StatusBar .coord span, #StatusBar .program-state span
{
	padding-left: 20px;
}

#StatusBar .program-state span
{
	color: black;
}

#StatusBar .port-elem{
	color: blue;	
}

#FilesBrowser{
	width: 200px;
	margin-left: 10px;
	font-size: 14px;
	font-family: monospace;
	height: 100%;
	float: left;
	border : solid 1px gray;
}

#FilesBrowser .file{
    color: #808080;
    cursor: pointer;
    display: block;
    padding: 5px;
}

#FilesBrowser .file:hover{
	color: #000080;
	border-bottom: dotted 1px gray;
}

#ProgramArea
{
	width: 343px;
	margin-left: 10px;
	font-size: 14px;
	font-family: monospace;
	height: 100%;
	float: left;
}


#ProgramArea textarea
{
	height: 99%;
	float: left;
	width: 308px;
	border: solid 1px #ccc;
}


body.busy #HeaderBar .menuitem
{
	display: none;
}

.cells-manager{
	width: 100%;
	overflow-x: scroll;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}	
.cells-manager .row{
	margin: 0;
}

.cells-manager .cell{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	text-align: center;	
	display: inline-block;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}	

#CellField {
	width: 100%;
	padding: 10px;
}

#CellField .row{
	height: 20px;
}

#CellField .row.selected .cell{
	border : solid 1px #678;
}

#CellField .cell{
	text-align: center;	
	font-size: 10px;
	line-height:20px;
	height: 20px;
	width : 20px;
	border: solid 1px #eef;
}

#CellField .cell:hover{
	border-color: red;				
}

#CellField .cell.marked{
	border-left : solid 1px #444;				
}

#CellField .cell.on{
	background-color: rgb(0, 125, 120);				
}

#CellField .cell.off{
	background-color: #ccc;
}

#CellField .row:hover{
	background-color: #FFC;		
}

#CellField .row:hover .cell{
	border-bottom : solid 1px red;	
}

#CellField .row.header{
	border-bottom: solid 1px gray;
}

#CellField .row.header .cell.current{
	background-color: #FFA;
}

#CellField .cell.targeted{
	border-left: solid 1px red;
}

#LineEditor{
	width: 100%;
	padding: 10px;
}

#LineEditor .row{
	height: 40px;
}

#LineEditor .row.header{
	background-color: #777;
	color: white;
	font-weight: bold;
}

#LineEditor .cell{
	text-align: center;	
	font-size: 10px;
	line-height:40px;
	height: 40px;
	width : 40px;
	border: solid 1px #eef;
}

#LineEditor .cell:hover{
	border-color: red;				
}
